.wrapper {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}

.block-scheme {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
}
h1{
    align-self: center;
    font-size: 28px;
}
img {
    width: 100%;
}

.scheme-first {
    width: 70%;
    margin: 20px;
}
.scheme-second {
    width: 40%;
    margin: 20px;
}
input, button, p{
    margin:20px;
}


